apiVersion: v1
kind: Pod
metadata:
  name: efs-data-prep-pod
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  containers:
  - name: efs-data-prep-pod
    image: ${REGISTRY}${IMAGE}${TAG}
    imagePullPolicy: Always
    command: ["/bin/bash"]
    args: ["-c", "/workspace/data-prep.sh ${MOUNT_PATH}"]
    volumeMounts:
    - name: efs-pv
      mountPath: ${MOUNT_PATH}
  volumes:
  - name: efs-pv
    persistentVolumeClaim:
      claimName: efs-pvc
  restartPolicy: Never
